
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin1.cshtml";
}


<style type="text/css">

    @*#km1 {
        background: red;
    }

    #kch img {
        width: 200px;
        height: 180px;
    }


    #mau {
        background: red;
    }

    #hh1 {
        background: red;
        color: white;
        text-align: center;
        border-radius: 5px;
        height: 30px;
        margin-bottom: 20px;
        padding-top: 5px;
    }*@
    #bn1 {
        width:100%;
        height:500px;
    }

    
</style>

<h2 style="text-align:center; font-family:'Segoe UI', Tahoma, Verdana, Geneva, sans-serif;">QUẢN TRỊ BÁN HÀNG</h2>
<hr />



<div class="container">
    <div class="row">





        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="carousel1" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
                    <li data-target="#carousel1" data-slide-to="1" class=""> </li>
                    <li data-target="#carousel1" data-slide-to="2" class=""> </li>
                    <li data-target="#carousel1" data-slide-to="3" class=""> </li>
                   @* <li data-target="#carousel1" data-slide-to="4" class=""> </li>
                    <li data-target="#carousel1" data-slide-to="5" class=""> </li>*@
                </ol>
                <div class="carousel-inner">

                    <div class="item active">
                        <img id="bn1" class="img-responsive" src="~/Images/br1.png" alt="thumb">
                        <div class="carousel-caption"> </div>
                    </div>
                    <div class="item">
                        <img id="bn1" class="img-responsive" src="~/Images/br2.png" alt="thumb">
                        <div class="carousel-caption"> </div>
                    </div>
                    <div class="item">
                        <img id="bn1" class="img-responsive" src="~/Images/br3.png" alt="thumb">
                        <div class="carousel-caption">  </div>
                    </div>
                    <div class="item">
                        <img id="bn1" class="img-responsive" src="~/Images/br4.png" alt="thumb">
                        <div class="carousel-caption"> </div>
                    </div>
                   @* <div class="item">
                        <img id="bn1" class="img-responsive" src="~/Images/b5.png" alt="thumb">
                        <div class="carousel-caption"> </div>
                    </div>
                    <div class="item">
                        <img id="bn1" class="img-responsive" src="~/Images/b3.png" alt="thumb">
                        <div class="carousel-caption"> </div>
                    </div>*@
                </div>

                <a class="left carousel-control" href="#carousel1" data-slide="prev">
                    <span class="icon-prev"></span>
                </a> <a class="right carousel-control" href="#carousel1" data-slide="next">
                    <span class="icon-next"></span>
                </a>

            </div>


            @*    <div id="tren">
                    <div id="bc">
                        <img src="~/Images/bn7.png" alt="thumb">
                    </div>
                    <div id="bb">
                        <img src="~/Images/bn8.png" alt="thumb">
                    </div>
                </div>
            *@
            <!--<div class="row text-center">-->
                @*
                    <div id="duoi" class="col-sm-4 col-md-4 col-lg-4 col-xs-6">

                         <img src="~/Images/bn11.png" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook ">


                             </div>
                             <div id="duoi" class="col-sm-4 col-md-4 col-lg-4 col-xs-6">

                             <img src="~/Images/bn12.png" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">

                                     </div>

                             <div id="duoi" class="col-sm-4 col-md-4 col-lg-4 col-xs-6">

                         <img src="~/Images/bn13.png" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">

                            </div>
                *@


            <!--</div>-->





        </div>



    </div>
    
</div>    