@model IEnumerable<WebsiteBanDienThoai.Models.ReportInfo>

@*<h2>THỐNG KÊ SỐ ĐẦU SẢN PHẨM</h2>*@
<table border="0">
    <tr style="font-weight:bold;">
       @* <td>Mã</td>*@
        <td>Tên thể loại</td>
        <td>Số đầu sản phẩm</td>
        <td>Tổng số sản phẩm</td>
        
    </tr>
   
    @foreach (var item in Model)
    {
        <tr>
            @*<td>@item.Id</td>*@
            <td>@item.Name</td>
            
            <td>@item.Count</td>
            <td>@item.Sum</td>
        </tr>
    }
</table>
<style>
    td {
        text-align: center;
    }
</style>

