
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    #main9{
        background:white;
        margin-bottom:10px;

    }
    #main9 a{
        text-decoration:none;
        color:black;
    }

    #main9 a:hover{
        color:black;


    }
</style>

<div class="container">
    <div id="main9">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <style>
                </style>
                <br>
                <center>
                    <img src="~/Images/xacnhan.png" style="width:150px;height:100px;" />
                </center>
                <h2 align="center"><b>ĐẶT HÀNG THÀNH CÔNG!</b></h2>
                <h4 align="center">Cảm ơn bạn đã tin tưởng và đặt hàng tại NVN</h4>
                <br>

                <h4 align="center">Chúng tôi sẽ liên hệ với bạn trong vòng thời gian sớm nhất. Nếu bạn có bất cứ thắc mắc hay câu hỏi nào vui lòng<br> gọi điện để được tư vấn nhanh nhất: 0364985635</h4>
                <br>
                <button class="w3-button w3-green">@Html.ActionLink("VỀ TRANG CHỦ", "TrangChu", "BanDienThoai")</button>
</div>
        </div>
    </div>
    
</div>